@model IEnumerable<DemoStore_uCommerce.Models.FlowerListViewModel>

<div class"">
    <h5>Fredrik Tipsar:</h5>
    <p>Fantastiska farsdagsblommor - lagom till fars dag..</p>
    <p class="btn-group view-details">
        <a href="/demo-store/fars-dag/c-24/c-1084" class="btn btn-default">Ta Mig Dit <span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></a>
    </p>
</div>
<table>
    @using (Html.BeginUmbracoForm("Index", "FlowerListSurface", FormMethod.Post))
    {

        foreach (var flowers in Model)
        {
            <tr>
                <td>Produkt: </td>
                <td>@flowers.Description</td>
            </tr>
            <tr>
                <td>Pris: </td>
                <td>@flowers.MaxPrice</td>
            </tr>
        }
    }
</table>